@layout('layouts/auth')

@section('content')

  <h4 class="text-center login-title">RESEND CONFIRMATION</h4>
  <form class="form-signin" method="POST" action="{{ route('auth.resend') }}">

    {{ csrfField() }}

      <label type="email">Email</label>
      <input type="text" class="form-control" required id="email" name="email"></input>

      <input type="submit" class="btn btn-lg btn-dark btn-block mt-2" value="Resend confirmation"></input>

  </form>

@endsection
