@layout('layouts/app')
@section('content')
<section class="content">
  <div class="error-page">
    <div class="col-sm-12 text-center">
      <div style="margin: 0px 0 50px"><img src="{{ assetsUrl('img/404.png') }}" alt=""></div>
      <h1>The page you requested cannot be found!</h1>
      <a href="{{ route('root') }}" class="btn btn-danger" title="Home">Home</a>
  </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>
@endsection
