<section class="content-header">
  <h1>
    {{title}}
    {{--  <small>Control panel</small>  --}}
  </h1>
  @if(breadcrumb)
  <ol class="breadcrumb">

    @each( item in breadcrumb )
    <li class="{{item.class}}">
      <a href="{{item.url}}">
        @if(item.icon)
        <i class="fa {{item.icon}}"></i>
        @endif
        {{ item.name}}</a>

    </li>
    @endeach

  </ol>

  @endif
</section>
