Hello, you requested password reset on your Adonis Starter account.
If this is not you, then ignore this email.
Otherwise change your password following the link:
<a href="{{app_url}}{{ route('reset', { token: token }) }}">Reset password</a>
